.theme-toggle {
  display: flex;
  align-items: center;
  /* gap: 8px; */
  background-color: var(--color-card);
  color: var(--color-text);
  border: 2px solid var(--color-border);
  border-radius: 30px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.theme-toggle:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

.theme-icon {
  transition: transform 0.3s ease;
}

.theme-toggle:hover .theme-icon {
  transform: rotate(30deg);
}

.theme-text {
  transition: color 0.3s ease;
}